.homeContainer{
    border: 6px solid red;
    height: 90vh;
    display: grid;
    align-content: center;

    .homeContent{
        border: 4px solid green;
        display: grid;
        align-items: center;
        justify-content: center;
    }
}